<div class="container">

    <h2>Days left:</h2>
    <div class="clock" style="margin:0 auto;height:90px;overflow:hidden;margin-top:15px;">

    </div>
    <h2>Your Progress:</h2>
    <span class="circle fill" ng-class="{one: n<=max/3, two: n<2*max/5 && n>max/5,three: n<3*max/5 && 2*n>max/5,
      four: n<4*max/3 && 3*n>max/3, five: n>=4*max/3}" ng-repeat="n in [] | range:prog"></span><!--
--><span class="circle empty" ng-repeat="n in [] | range:antiProg"></span>

    <div class="checkIn-button-container">
        <button type="button" class="btn btn-success" ng-click="checkIn()" ng-if="!checkedIn">Complete today's goal</button>
        <button type="button" class="btn btn-success disabled" ng-if="checkedIn">Check back tomorrow</button>
    </div>

    <h2>Payment History:</h2>
    <div class="transaction" ng-repeat="trans in transHist" ng-bind="trans">&#8594; 11/1/14 $10.00 to Michael Shi</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var clock;

    clock = $('.clock').FlipClock({
      clockFace: 'DailyCounter',
      autoStart: false,
      showSeconds: false,
      showMinutes:false,
      callbacks: {
        stop: function() {
          $('.message').html('The clock has stopped!')
        }
      }
    });

    var nextSundayTime = getMonday(new Date()).getTime();
    clock.setTime(((nextSundayTime - (nextSundayTime % 86400000)) - (new Date()).getTime() + (new Date()).getTimezoneOffset() * 60000) / 1000);
    clock.setCountdown(true);
    clock.start();

    //Actually returns sunday
    function getMonday(d) {
      d = new Date(d);
      var day = d.getDay(),
              diff = d.getDate() - day+7; // adjust when day is sunday
      return new Date(d.setDate(diff));
    }

  });
</script>
<style>
body {
	text-align: center;
}
span.circle {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	display: inline-block;
	border: 1px solid black;

}

.circle.fill.one {
	background-color: #3fc380;
}
.circle.fill.two {
	background-color: #03a678;
}
.circle.fill.three {
	background-color: #16A085;
}
.circle.fill.four {
	background-color: #019875;
}
.circle.fill.five {
	background-color: #049372;
}

.circle.empty {
	background-color: lightgrey;
}
ul{
  white-space: nowrap;
}
  ul.flip{
    width:50px;
    height:80px;
  }


</style>