.friend-name{
    padding-left: 3px;
}

.friend-item{
    cursor: pointer;
}

.no-friends-selected-warning{
    margin-top: 5px;
    clear: both;
    font-size: 1em;
}

.submit-button-container{
    padding: 15px;
    width: 100%;
}